body {
  display: grid;
  margin: 40px;
  grid-template-columns: auto auto;
  background-color: bisque;
  grid-template-areas:
      "A A A A"
      "B B B C"
      "D D D D";
  gap: 10px;
  width: 800px;
  border: 10px solid rgb(10, 10, 11);
}
header {
  background-color: rgb(255, 226, 190);
}
.box1 {
  grid-area: A;
  text-align: center;
  background-color: rgb(175, 187, 194);
}
h1 {
  font-size: 50px;
  text-align: center;
}
h2{
  text-align: center;
}
nav {
  display: flex;
 float: right;
}
a{
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;

}
.box2 {
  grid-area: B;
  background-color: rgb(132, 203, 236);
  padding: 10px;
}
.box3 {
  grid-area: C;
  background-color: rgb(230, 170, 243);
  padding: 10px;
}
li{
margin-top: 25px;
}
.box4 {
  grid-area: D;
  text-align: center;
  background-color: rgb(193, 162, 167);
  padding: 10px;
}
span{
  font-style: Italic;
}